.form {
  .content-wrapper {
    display: flex;

    .image-wrapper {
      width: 300px;
      
      .main-image {
        max-height: 200px;
        max-width: 200px;
        margin-top: 5px;
        margin-left: 10px;
      }
    }

    .data-wrapper {
      width: 100%;
    }
  }
}

mat-form-field {
  width: 100%;

  ::ng-deep .mat-form-field-wrapper {
    margin: 5px;
  } 
}

.row {
  display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
