.car-list {
  display: flex;
}

.car-card {
  max-width: 250px;
  margin: 20px;
}

.car-header-image {
  background-image: url("https://2.allegroimg.com/s1024/0c817a/c77dc5c84fbe96aab6fda655ce12");
  background-size: cover;
}
